# Database
DATABASE_URL=

# Step Functions (Make payment saga)
STATE_MACHINE_ARN=
# AWS (local development)
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SESSION_TOKEN=""  # optional