# Database
DATABASE_URL=

# Step Functions (Place booking saga)
STATE_MACHINE_ARN=

# SQS (ticket generation)
TICKET_GENERATION_QUEUE_URL=

# AWS (local development)
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SESSION_TOKEN=""  # optional

# Other services
INVENTORY_SERVICE_URL=
